{% extends "base.html" %}
{% block title %}Восстановление пароля | SwitchAI{% endblock %}

{% block description %}Забыли пароль от аккаунта SwitchAI? Введите email, и мы отправим инструкцию по восстановлению доступа к платформе нейросетей.{% endblock %}

{% block keywords %}восстановление пароля, забыл пароль, сброс пароля SwitchAI, доступ к аккаунту{% endblock %}

{% block og_title %}Восстановление пароля SwitchAI{% endblock %}

{% block og_description %}Инструкция по восстановлению доступа к вашему аккаунту на платформе SwitchAI.{% endblock %}
{% block content %}
<meta charset="UTF-8">
<style>
    .main-div{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    .container{
        width: 90%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        position: relative;
        top: 100px;
    }
    .container h2, p{
        font-weight: 800;
        text-align: center;
        width: 80%;
    }
    .container img{
        width: 150px;
        height: 160px;
        margin: 20px 0;
    }
    .email-input{
        width: 100%;
        padding: 12px 40px 12px 12px;
        border-radius: 8px;
        background: #f5f9fa;
        border: 1px solid black;
        color: black;
        outline: none;
        transition: border-color 0.2s;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .email-input:focus{
        border-color: #FFD600;
        box-shadow: 0 0 0.5rem #FFD600;
        background-color: white;
    }
    .buttons-div{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .button{
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        font-weight: 800;
        text-decoration: none;
        color: black;
        transition: transform 0.1s ease, filter 0.1s ease;
        -webkit-tap-highlight-color: transparent;
        outline: none;
        margin-top: 20px;
    }
    @media (hover: hover){
        .button:hover{
            text-decoration: none;
            transform: scale(1.05);
            color: black;
            filter: brightness(90%);
        }
    }
    .button:focus{
        outline: none;
    }
    .button:active{
        outline: none;
        transform: scale(0.95);
        filter: brightness(90%);
        transition: transform 0.1s ease-in-out;
    }
    #back-btn{
        box-shadow: 0 0 7px #00E6FF;
        background-color: #00E6FF;
        margin-right: 5px;
    }
    #send-btn{
        box-shadow: 0 0 7px #76ff03;
        background-color: #76ff03;
        margin-left: 5px;
    }
    .input-div{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        height: auto;
    }
    .message{
        padding: 0;
        margin: 0;
        font-weight: 200;
    }
    @media (max-width: 450px){
        .container{
            margin: 0;
            width: 100%;
        }
        .input-div{
            width: 100%;
        }
        .container h2, p{
            width: 100%;
        }
    }
    @media (max-width: 320px){
        .buttons-div{
            font-size: 12px;
        }
    }
</style>
<div class="main-div">
    <div class="container">
        <img src="/static/img/forgot_password.png" alt="Иконка">
        <h2>Забыли пароль?</h2>
        <p>Мы отправим инструкцию по восстановлению пароля</p>
        <div class="input-div">
            <input type="email" placeholder="Введите ваш email" class="email-input" id="email-input">
            <p class="message" id="message"></p>
            <p class="message" id="timer"></p>
            <div class="buttons-div">
                <button class="button" id="back-btn" onclick="location.href='/login'">Назад</button>
                <button class="button" id="send-btn">Отправить</button>
            </div>
        </div>
    </div>
</div>
<script>
    //Функция-таймер
    function countdown(seconds, onTick, onComplete){
        let remaining = seconds;

        const interval = setInterval(() => {
            if (remaining <= 0){
                clearInterval(interval);
                onComplete?.();
            }
            else {
                remaining--;
            onTick?.(remaining);
            }
        }, 1000)

    }
    document.addEventListener("DOMContentLoaded", function(){
        const sendBtn = document.getElementById("send-btn");
        const message = document.getElementById("message");
        const timer = document.getElementById("timer");

        if (sendBtn){
            sendBtn.addEventListener("click", function(){
                sendBtn.disabled = true;
                sendBtn.style.opacity = "0.5";
                sendBtn.innerText = "Отправка...";

                const emailInput = document.getElementById("email-input");
                const userEmail = emailInput.value;
                if (!userEmail){
                    message.innerText = "Введите email";
                    message.style.color = "red";
                    sendBtn.style.opacity = "1";
                    sendBtn.disabled = false;
                    sendBtn.innerText = "Отправить";
                    return;
                }

                const formData = new FormData();
                formData.append("email", userEmail);

                fetch("/send_password_email", {
                    method: "POST",
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message){
                        message.innerText = data.message;
                        message.style.color = "green";
                        sendBtn.innerText = "Отправлено";
                        //Таймер для повторной отправки
                        countdown(
                            30, 
                            (remaining) => timer.innerText = `Отпраить повторно через ${remaining} сек`,
                            () => {
                                sendBtn.disabled = false;
                                sendBtn.style.opacity = '1';
                                sendBtn.innerText = "Отправить письмо еще раз";
                                timer.innerText = '';
                            }
                        );
                    }
                    else if (data.error){
                        message.innerText = "Ошибка:" + data.error;
                        message.style.color = "red";
                        //Таймер для повторной отправки
                        countdown(
                            10, 
                            (remaining) => timer.innerText = `Отпраить повторно через ${remaining} сек`,
                            () => {
                                sendBtn.disabled = false;
                                sendBtn.style.opacity = '1';
                                sendBtn.innerText = "Отправить письмо еще раз";
                                timer.innerText = '';
                            }
                        );
                    }
                })
                .catch(error => {
                    message.innerText = "Ошибка при отправке";
                    message.style.color = "red";
                    sendBtn.disabled = false;
                    sendBtn.style.opacity = "1";
                    sendBtn.innerText = "Отправить еще раз";
                })
            });
        }
    });
</script>
{% endblock %}