{% extends "base.html" %}

{% block content %}
    <div class="main-reg">
        <img src="/static/img/logo%20SwitchAIpng.png" width="350" height="180">
        <h2>Вход</h2>
    </div>
    <form action="" method="post" class="reg-form">
        {{ form.hidden_tag() }}
        <div class="reg-div">
            <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <div class="submit-reg-div">
                <p>{{ form.submit(type="submit", class="submit-log-btn") }}</p>
            </div>
            <div>
                {{ message }}
            </div>
        </div>
    </form>
{% endblock %}