{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<style>
    /* .left-menu{
        display: flex;
        background-color: rgb(246, 242, 242);
        width: 35%;
        max-width: 350px;
        min-width: 150px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        left: 0;
        margin: 0;
        padding-top: 30px;
        align-items: flex-start;
    }
    .neuro-search{
        background-color: white;
        border: 1px solid #c5c5c5;
        border-radius: 10px;
        height: 35px;
        width: 85%;
        margin-left: 7.5%;
        margin-bottom: 10px;
    }
    .neuro-search:focus{
        border: 3px solid #00E6FF !important;
        outline: none;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;
    }
    .dropdown a{
        margin-left: 7.5%;
        color: black;
        font-weight: 800;
        font-size: 1.5rem;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .dropdown-list{
        position: absolute;
        padding: 1rem;
        margin-left: 7.5%;
        margin-top: 2rem;
        display: none;
    }
    .dropdown-list li{
        list-style: none;
        font-weight: 600;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    .dropdown:hover .dropdown-list{
        display: block;
    }
    .dropdown-icon{
        position: relative;
        transform: rotate(0deg);
        transition: 0.3s ease;
    }
    @media (hover: hover){
        .dropdown:hover .dropdown-icon{
            transform: rotate(180deg);
        }
    } */
    .background-img{
        background: url(/static/img/background_neuro.png) no-repeat;   /* Задний фон */
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        display: flex;
    }
    @supports not (background-attachment: fixed){
        .background-img{
            background-attachment: scroll;
        }
        .background-img::before{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background: url(/static/img/background_neuro.png) no-repeat;   /* Задний фон */
            background-size: cover;
            background-position: center;
        }
    }
    .neuro-part{                                                    /* Главная часть (div для всего конетнта на странице) */
        color: white;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        margin: 20px 3rem;
        width: 100%;
    }
    .neuro-part h1{
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 800;
    }
    .neuro-choice{                                                      /* Выбор нейросети */
        width: auto;
        height: 200px;
        margin-top: 20px;
        background-color: #152542;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border: 1px solid #2d3a53;
        border-radius: 10px;        
    }
    .neuro-choice p{
        font-weight: 800;
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 0;
    }
    .choice-part{                                                       /* div для списка нейросетей и описания*/
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }   
    .neuro-dropdown{                                                    /* dropdown для выбора нейросети */
        background-color: #2d3a53;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        outline: none;
        width: 40%;
        height: 40px;
        color: #c5c5c5;
        margin: 20px 5px;
    }            
    .neuro-dropdown:focus{
        outline: none;
        border: 1px solid #00E6FF;
        box-shadow: 0 0 7px #00E6FF;
    }
    .description-area{                                                  /* textarea для описания выбранной нейросети */
        background-color: #2d3a53;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        width: 60%;
        height: calc(100% - 40px);
        color: #e5e3e3;
        margin: 20px 5px;
    }
    .description-area:disabled {
        opacity: 1;
        -webkit-text-fill-color: #e2e2e2;
        color: #e2e2e2;
        font-weight: bold;
    }               
    .request-div{                                                   /* div для промпта и параметров */
        display: flex;
        flex-direction: row;
        border: 2px solid #2d3a53;
        border-radius: 10px;
        width: auto;
        height: 200px;
        margin-top: 20px;
    }
    .prompt-div{
        background-color: #152542;
        width: 60%;
        height: 100%;
        /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border-radius: 10px 0 0 10px;
    }
    .prompt-div p{
        font-size: 1rem;
        font-weight: 800;
    }
    .prompt-area{                                                   /* textarea для промпта */
        outline: none;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        width: 100%;
        height: calc(100% - 3rem);
        justify-content: flex-start;
        color: #c5c5c5;
        background-color: #2d3a53;
        resize: none;
    }
    .prompt-area:focus{
        outline: none;
        border: 3px solid #00E6FF;
        box-shadow: 0 0 7px #00E6FF;
    }
    .params-div{                                                        /* параметры */
        background-color: #2d3a53;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border-radius: 0 10px 10px 0;
    }
    .params-div p{
        font-size: 1rem;
        font-weight: 800;
    }
    .generate-btn{                                                  /* кнопка сгенерировать */
        width: auto;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #76ff03;
        border: 1px solid #76ff03;
        border-radius: 15px;
        color: black;
        box-shadow: 0 0 7px #76ff03;
        font-weight: 800;
        transition: 0.3s ease;
        -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    }
    @media (hover: hover){
        .generate-btn:hover{
            transform: scale(1.05);
        }
    }
    .login-to-generate-btn{                                  /* Кнопка входа, если пользователь не авторизирван*/
        width: auto;
        height: 50px;
        min-height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #76ff03;
        border: 1px solid #76ff03;
        border-radius: 15px;
        color: black;
        text-decoration: none;
        box-shadow: 0 0 7px #76ff03;
        font-weight: 800;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    }
    @media (hover: hover){
        .login-to-generate-btn:hover{
            transform: scale(1.05);
            text-decoration: none;
            color: black;
        }
    }
   
    .file-upload-wrapper {                                               /* Контейнер для выбора файла */
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;
        flex-wrap: wrap;
    }
    .custom-file-label {                                        /* Сама кнопка "Выберите файл" */
        background-color: #00E6FF;
        color: black;
        padding: 8px 16px;
        border: 1px solid #00E6FF;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 800;
        font-size: 14px;
        box-shadow: 0 0 10px #00E6FF;
        transition: 0.3s ease;
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .custom-file-label::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: none;
        height: calc(1.5em + .75rem);
        padding: .375rem .75rem;
        line-height: 1.5;
        color: #495057;
        content: "Browse";
        background-color: #e9ecef;
        border-left: inherit;
        border-radius: 0 .25rem .25rem 0;
    }
    @media (hover: hover){
        .custom-file-label:hover {
            transform: scale(1.05);
            box-shadow: 0 0 15px #00E6FF;
        }
    }
    .file-name-text {                                                    /* Текст "Файл не выбран" */
        color: white;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 800;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
    }
    .generated-text-area {                                                  /* textarea для сгенерированного тектса */                                   
        outline: none;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        resize: none;
        text-align: start;
        color: #e5e3e3;
        background-color: #2d3a53;
    }
    .generated-text-area:disabled{
        opacity: 1;
        -webkit-text-fill-color: #e2e2e2;
        color: #e2e2e2;
        font-weight: bold;
    }
    @media (max-width: 800px){                                          /* Стили для экрана <= 800px */
        .neuro-part{                                                    /* Главная часть (div для всего конетнта на странице) */
            color: white;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            margin: 20px 3rem;
            width: 100%;
        }
        .params-div p{
            font-size: 1rem;
            font-weight: 800;
        }
        .prompt-div p{
            font-size: 1rem;
            font-weight: 800;
        }
        .neuro-part h1{
            font-size: 1.5rem;
        }
        .dropdown a{
            margin-left: 7.5%;
            color: black;
            font-weight: 800;
            font-size: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        .file-name-text {                                                    /* Текст "Файл не выбран" */
            color: white;
            font-size: 14px;
            margin-left: 10px;
            font-weight: 800;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .generate-btn{
            width: auto;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 1rem;
        }
        .generate-btn:disabled{
            filter: brightness(85%);
        }
        .login-to-generate-btn{                                  /* Кнопка входа, если пользователь не авторизирван*/
            width: auto;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-to-generate-btn:focus{
            transform: scale(0.95);
            filter: brightness(90%);
            text-decoration: none;
            color: black;
        }
        .login-to-generate-btn:active{
            transform: scale(0.95);
            filter: brightness(90%);
            text-decoration: none;
            color: black;
        }             
    }
    .response-div{                                                          /* div для ответа нейросети */
        background-color: #152542;
        display: flex;
        flex-direction: column;
        border: 2px solid #2d3a53;
        border-radius: 10px;
        width: auto;
        height: 500px;
        margin-top: 10px;
        padding: 0;
    }
    .response-div p {
        margin: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 800;
    }
    .generated-text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #152542;
        width: 100%;
        height: 90%;
        padding: 0.5rem 1rem;
    }
    @media (max-width: 600px){                                                  /* стили для телефонов(экран <= 600px) */
        .background-img{
            background: url(/static/img/background_neuro_mobile.png) no-repeat;   /* Задний фон */
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
            display: flex;
        }
        @supports not (background-attachment: fixed){
            .background-img{
                background-attachment: scroll;
        }
        .background-img::before{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -2;
            background: url(/static/img/background_neuro.png) no-repeat;   /* Задний фон */
            background-size: cover;
            background-position: center;
        }
        .background-img::after{
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
        .neuro-part{                                                    /* Главная часть (div для всего конетнта на странице) */
            color: white;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            margin: 20px 3rem;
            width: 100%;
        }
        .neuro-part h1{
            font-size: 20px;
            font-weight: 800;
        }
        .request-div{
            display: flex;
            flex-direction: column;
            border: 2px solid #2d3a53;
            border-radius: 10px;
            width: auto;
            height: 500px;
            margin-top: 20px;
        }
        .prompt-div{
            background-color: #152542;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5rem 0.5rem;
            border-radius: 10px 10px 0 0;
        }
        .prompt-div p{
            font-size: 12px;
            font-weight: 800;
        }
        .prompt-area{
            outline: none;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            width: 100%;
            height: 85%;
            text-align: start;
            justify-content: flex-start;
        }
        .prompt-area:focus{
            outline: none;
            border: 3px solid #00E6FF;
            box-shadow: 0 0 7px #00E6FF;
        }
        .params-div{
            background-color: #2d3a53;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5rem 0.5rem;
            border-radius: 0 0 10px 10px;
        }
        .params-div p{
            font-size: 12px;
            font-weight: 800;
            margin-bottom: 0.5rem;
        }
        .generate-btn{
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 1rem;
            -webkit-tap-highlight-color: rgba(0,0,0,0.1);
        }
        .generate-btn:disabled{
            filter: brightness(85%);
        }
        .login-to-generate-btn{                                  /* Кнопка входа, если пользователь не авторизирван*/
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-tap-highlight-color: rgba(0,0,0,0.1);
        }
        .login-to-generate-btn:focus{
            transform: scale(0.95);
            filter: brightness(90%);
            text-decoration: none;
            color: black;
        }
        .login-to-generate-btn:active{
            transform: scale(0.95);
            filter: brightness(90%);
            text-decoration: none;
            color: black;
        }                       
        .response-div p {
            margin: 0.5rem 0.5rem;
            font-size: 12px;
            font-weight: 800;
        }
        .neuro-choice{                                                      /* Выбор нейросети */
            width: auto;
            height: 400px;
            margin-top: 10px;
            background-color: #152542;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5rem 0.5rem;
            border: 1px solid #2d3a53;
            border-radius: 10px;        
        }
        .neuro-choice p{
            font-weight: 800;
            font-size: 12px;
            margin-bottom: 10px;
            padding: 0;
        }
        .choice-part{                                                       /* div для списка нейросетей и описания*/
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }   
        .neuro-dropdown{                                                    /* dropdown для выбора нейросети */
            background-color: #2d3a53;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            outline: none;
            width: calc(100% - 10px);
            height: 40px;
            color: #c5c5c5;
            margin: 10px 5px;
        }            
        .neuro-dropdown:focus{
            outline: none;
            border: 1px solid #00E6FF;
            box-shadow: 0 0 7px #00E6FF;
        }
        .description-area{                                                  /* textarea для описания выбранной нейросети */
            background-color: #2d3a53;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 80px);
            color: #e5e3e3;
            margin: 10px 5px;
        }
        .prompt-div p{
            margin: 0.5rem 0.5rem;
            margin-top: 0;
        }
        .generated-text-area {                                                  /* textarea для сгенерированного тектса */                                   
            outline: none;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            resize: none;
            text-align: start;
            color: #e5e3e3;
            background-color: #2d3a53;
        }
    }
</style>
<div class="background-img">
    <!-- <div class="left-menu">
        <div class="dropdown">
            <a href="#">Модели
                <span class="material-symbols-outlined dropdown-icon">
                    keyboard_arrow_down
                </span>
            </a>
            <ul class="dropdown-list">
                <li>Модель 1</li>
                <li>Модель 2</li>
                <li>Модель 3</li>
            </ul>
        </div>
    </div> -->
    <div class="neuro-part">
        <h1>SwitchAI — переключи реальность</h1>
        <div class="neuro-choice">
            <p>Выбор нейросети</p>
            <div class="choice-part">
                <select class="neuro-dropdown" id="neuro-dropdown" onchange="UpdateTextarea()">
                    <option value="1">Nvidia nemotron-3-super-120b-a12b</option>
                    <option value="2">poolside laguna-xs.2:free</option>
                    <option value="3">Z.ai: GLM 4.5 Air</option>
                    <option value="4">Owl Alpha</option>
                </select>
                <textarea disabled class="description-area" id="description-area"></textarea>
            </div>
        </div>
        <div class="request-div">
            <div class="prompt-div">
                <p>Ваш промт</p>
                <textarea class="prompt-area" id="prompt-area" placeholder="Опишите вашу задачу или задайте вопрос"></textarea>
            </div>
            <div class="params-div">
                <p>Параметры</p>
                <!-- Форма для загрузки файла -->
                <div class="file-upload-wrapper">
                    <label for="fileInput" class="custom-file-label">
                        Выберите файл
                    </label>
                    <span id="file-name-display" class="file-name-text">Файл не выбран</span>
                    <input type="file" id="fileInput" accept=".txt,.json,.csv" style="display: none;">
                </div>
                {% if not current_user.is_authenticated %}
                    <a class="login-to-generate-btn" href="/login">Вход ⚠️</a>
                {% else %}
                    <button class="generate-btn" id="generate-btn">Сгенерировать</button>
                {% endif %}
            </div>
        </div>
        <div class="response-div">
            <p>Сгенерированный текст</p>
            <div class="generated-text">
                <textarea disabled class="generated-text-area" id="genereted-text-area" placeholder="Напиши запрос и здесь появится ответ нейросети"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    //Обновление описания модели в зависимости от выбранной модели
    UpdateTextarea();
    function UpdateTextarea(){
        const selected_value = document.getElementById('neuro-dropdown').value;
        const textarea = document.getElementById('description-area');
        const neuro_descriptions = [
            "NVIDIA Nemotron 3 Super - это открытая гибридная модель MoE с 120 бай-бай параметрами, активирующая всего 12 БАЙ-бай параметров для максимальной эффективности вычислений и точности в сложных многоагентных приложениях. Построенный на гибридной архитектуре Mamba-Transformer, состоящей из экспертов, с предсказанием нескольких токенов (MTP), он обеспечивает более чем на 50% более высокую генерацию токенов по сравнению с ведущими открытыми моделями.",
            "Laguna XS.2 — это модель второго поколения в классе XS от Poolside(открывается в новой вкладке), из серии эффективных агентов для написания кода. Она сочетает в себе возможности вызова инструментов и логического вывода с компактными размерами, предлагая контекстное окно на 128 КБ и до 8 КБ выходных токенов. Квантованная модель fp8 для быстрых и экономичных рабочих процессов агентного кодирования.Laguna XS.2 предназначен для разработки программного обеспечения и агентского кодирования",
            "GLM-4.5-Air — это облегченная версия нашей новейшей флагманской модели, также специально разработанная для агентно-ориентированных приложений.  Как и GLM-4.5, она основана на архитектуре Mixture-of-Experts (MoE), но имеет более компактный размер параметров.  GLM-4.5-Air также поддерживает гибридные режимы логического вывода: «режим мышления» для сложных рассуждений и использования инструментов и «режим без мышления» для взаимодействия в реальном времени.",
            "Owl Alpha — это высокопроизводительная базовая модель, предназначенная для агентных рабочих нагрузок. Она изначально поддерживает использование инструментов и выполнение задач с длительным контекстом, обеспечивая высокую производительность при генерации кода, автоматизации рабочих процессов и выполнении сложных инструкций. Совместима с Claude Code, OpenClaw и другими популярными инструментами для повышения производительности",

        ];
        textarea.textContent = neuro_descriptions[selected_value - 1];
    }
    //Отправление промпта и получение ответа от ии
    const generateBtn = document.getElementById("generate-btn");
    const promptArea = document.getElementById("prompt-area");
    const requestArea = document.getElementById("genereted-text-area");
    const model_list = document.getElementById("neuro-dropdown")
    const fileInput = document.getElementById("fileInput");
    const neuro_links = [
        "nvidia/nemotron-3-super-120b-a12b:free",
        "poolside/laguna-xs.2:free",
        "z-ai/glm-4.5-air:free",
        "openrouter/owl-alpha",
    ];
    // Функция-помощник для чтения файла как текста
    function readFileAsText(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = () => resolve(reader.result);
            reader.onerror = () => reject("Ошибка при чтении файла");
            reader.readAsText(file);
        });
    }
    //Обработка клика по кнопке "сгенерировать"
    if (generateBtn){
        generateBtn.addEventListener("click", async () => {
        let prompt = promptArea.value;

        // 1. Проверяем, выбран ли файл
        if (fileInput.files && fileInput.files.length > 0) {
            try {
                requestArea.innerHTML = "Читаю файл...";
                const fileContent = await readFileAsText(fileInput.files[0]);
                
                // Склеиваем основной промпт и содержимое файла
                // Добавляем пояснение для нейросети, где начинается контент из файла
                prompt = prompt + "\n\n[Контент из прикрепленного файла]:\n" + fileContent;
            } catch (err) {
                alert(err);
                return;
            }
        }

        const model = neuro_links[model_list.value - 1];
        if (!prompt.trim()) return alert("Введите текст или выберите файл");

        //Деактивируем кнопку во время генерации, чтобы избежать повтороной отвправки
        generateBtn.disabled = true;
        requestArea.innerHTML = "Генерирую текст...";

        try{
            //Отправляем запрос на страницу neuro_request на python сервере
            const response = await fetch("/neuro_request", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' //Говорим серверу, что отправили json
                },
                body: JSON.stringify({ 
                prompt: prompt, 
                model: model 
                })
            });

            const data = await response.json();

            if (data.message) {
                requestArea.innerHTML = data.message;
            }
            else {
                requestArea.innerHTML = "Ошибка: " + (data.error || "Неизвестная ошибка");
            }
        //Если не получилось отправить запрос на сервер
        } catch (error) {
            requestArea.innerHTML = "Ошибка соединения с сервером";
            console.error(error)
        //Возвращаем возможность кликать по кнопке
        } finally {
            generateBtn.disabled = false
        }
        });
    }
    //Динамическое изменение имени файла при открытии файла
    document.getElementById('fileInput').addEventListener('change', function() {
    const fileNameDisplay = document.getElementById('file-name-display');
        if (this.files && this.files.length > 0) {
            fileNameDisplay.textContent = this.files[0].name;
        } else {
            fileNameDisplay.textContent = "Файл не выбран";
        }
    });
</script>
{% endblock %}