{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<style>
    /* .left-menu{
        display: flex;
        background-color: rgb(246, 242, 242);
        width: 35%;
        max-width: 350px;
        min-width: 150px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        left: 0;
        margin: 0;
        padding-top: 30px;
        align-items: flex-start;
    }
    .neuro-search{
        background-color: white;
        border: 1px solid #c5c5c5;
        border-radius: 10px;
        height: 35px;
        width: 85%;
        margin-left: 7.5%;
        margin-bottom: 10px;
    }
    .neuro-search:focus{
        border: 3px solid #00E6FF !important;
        outline: none;
    }
    .dropdown{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;
    }
    .dropdown a{
        margin-left: 7.5%;
        color: black;
        font-weight: 800;
        font-size: 1.5rem;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .dropdown-list{
        position: absolute;
        padding: 1rem;
        margin-left: 7.5%;
        margin-top: 2rem;
        display: none;
    }
    .dropdown-list li{
        list-style: none;
        font-weight: 600;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    .dropdown:hover .dropdown-list{
        display: block;
    }
    .dropdown-icon{
        position: relative;
        transform: rotate(0deg);
        transition: 0.3s ease;
    }
    @media (hover: hover){
        .dropdown:hover .dropdown-icon{
            transform: rotate(180deg);
        }
    } */
    .background-img{
        background: url(/static/img/background_neuro.png) no-repeat;   /* Задний фон */
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 100vh;
        display: flex;
    }
    .neuro-part{                                                    /* Главная часть (div для всего конетнта на странице) */
        color: white;
        font-weight: 800;
        display: flex;
        flex-direction: column;
        margin: 20px 3rem;
        width: 100%;
    }
    .neuro-part h1{
        font-size: 2.5rem;
    }
    .request-div{                                                   /* div для промпта и параметров */
        display: flex;
        flex-direction: row;
        border: 2px solid #2d3a53;
        border-radius: 10px;
        width: auto;
        height: 500px;
        margin-top: 20px;
    }
    .prompt-div{
        background-color: #152542;
        width: 60%;
        height: 100%;
        /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border-radius: 10px 0 0 10px;
    }
    .prompt-div p{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .prompt-area{                                                   /* textarea для промпта */
        outline: none;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        width: 100%;
        height: 85%;
        text-align: start;
        justify-content: flex-start;
        color: #c5c5c5;
        background-color: #2d3a53;
    }
    .prompt-area:focus{
        outline: none;
        border: 3px solid #00E6FF;
        box-shadow: 0 0 7px #00E6FF;
    }
    .params-div{                                                        /* параметры */
        background-color: #2d3a53;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border-radius: 0 10px 10px 0;
    }
    .params-div p{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .generate-btn{                                                  /* кнопка сгенерировать */
        width: auto;
        height: 15%;
        align-items: center;
        justify-content: center;
        background-color: #76ff03;
        border: 1px solid #76ff03;
        border-radius: 15px;
        color: black;
        box-shadow: 0 0 7px #76ff03;
        font-weight: 800;
        transition: 0.3s ease;
    }
    @media (hover: hover){
        .generate-btn:hover{
            transform: scale(1.05);
        }
    }
    .login-to-generate-btn{                                  /* Кнопка входа, если пользователь не авторизирван*/
        width: auto;
        height: 15%;
        align-items: center;
        justify-content: center;
        background-color: #76ff03;
        border: 1px solid #76ff03;
        border-radius: 15px;
        color: black;
        text-decoration: none;
        box-shadow: 0 0 7px #76ff03;
        font-weight: 800;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (hover: hover){
        .login-to-generate-btn:hover{
            transform: scale(1.05);
            text-decoration: none;
            color: black;
        }
    }
    .neuro-choice{                                                      /* Выбор нейросети */
        width: auto;
        height: 300px;
        margin-top: 20px;
        background-color: #152542;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0.5rem 1rem;
        border: 1px solid #2d3a53;
        border-radius: 10px;        
    }
    .neuro-choice p{
        font-weight: 800;
        font-size: 1rem;
        margin-bottom: 10px;
        padding: 0;
    }
    .choice-part{                                                       /* div для списка нейросетей и описания*/
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }   
    .neuro-dropdown{                                                    /* dropdown для выбора нейросети */
        background-color: #2d3a53;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        outline: none;
        width: 40%;
        height: 40px;
        color: #c5c5c5;
        margin: 20px 5px;
    }            
    .neuro-dropdown:focus{
        outline: none;
        border: 1px solid #00E6FF;
        box-shadow: 0 0 7px #00E6FF;
    }
    .description-area{                                                  /* textarea для описания выбранной нейросети */
        background-color: #2d3a53;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        width: 60%;
        height: calc(100% - 40px);
        color: #c5c5c5;
        margin: 20px 5px;
    }                                                          
    @media (max-width: 800px){                                          /* Стили для экрана <= 800px */
        .params-div p{
            font-size: 1rem;
            font-weight: 800;
        }
        .prompt-div p{
            font-size: 1rem;
            font-weight: 800;
        }
        .neuro-part h1{
            font-size: 1.5rem;
        }
        .dropdown a{
            margin-left: 7.5%;
            color: black;
            font-weight: 800;
            font-size: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
        .generate-btn{
            width: auto;
            height: 15%;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 12px;
        }
        .login-to-generate-btn{                                  /* Кнопка входа, если пользователь не авторизирван*/
            width: auto;
            height: 15%;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .response-div{                                                          /* div для ответа нейросети */
        background-color: #152542;
        display: flex;
        flex-direction: column;
        border: 2px solid #2d3a53;
        border-radius: 10px;
        width: auto;
        height: 500px;
        margin-top: 10px;
        padding: 0;
    }
    .response-div p {
        margin: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 800;
    }
    .generated-text{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #152542;
        width: 100%;
        height: 80%;
        padding: 0.5rem 1rem;
    }
    .generated-text-area {                                                  /* textarea для сгенерированного тектса */                                   
        outline: none;
        border: 1px solid #c5c5c5;
        box-shadow: 0 0 7px #c5c5c5;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        text-align: start;
        color: #c5c5c5;
        background-color: #2d3a53;
    }
    @media (max-width: 600px){                                                  /* стили для телефонов(экран <= 600px) */
        .neuro-part{
            color: white;
            font-weight: 800;
            display: flex;
            flex-direction: column;
            margin: 10px auto;
            width: 80vw;
        }
        .neuro-part h1{
            font-size: 20px;
        }
        .request-div{
            display: flex;
            flex-direction: column;
            border: 2px solid #2d3a53;
            border-radius: 10px;
            width: auto;
            height: 500px;
            margin-top: 20px;
        }
        .prompt-div{
            background-color: #152542;
            width: 100%;
            height: 160%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5rem 0.5rem;
            border-radius: 10px 10px 0 0;
        }
        .prompt-div p{
            font-size: 12px;
            font-weight: 800;
        }
        .prompt-area{
            outline: none;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            width: 100%;
            height: 85%;
            text-align: start;
            justify-content: flex-start;
        }
        .prompt-area:focus{
            outline: none;
            border: 3px solid #00E6FF;
            box-shadow: 0 0 7px #00E6FF;
        }
        .params-div{
            background-color: #2d3a53;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5rem 0.5rem;
            border-radius: 0 0 10px 10px;
        }
        .params-div p{
            font-size: 12px;
            font-weight: 800;
        }
        .generate-btn{
            width: calc(100% - 1rem);
            height: 30%;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 12px;
        }
        .login-to-generate-btn{                                  /* Кнопка входа, если пользователь не авторизирван*/
            width: calc(100% - 1rem);
            height: 30%;
            align-items: center;
            justify-content: center;
            background-color: #76ff03;
            border: 1px solid #76ff03;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            box-shadow: 0 0 7px #76ff03;
            font-weight: 800;
            transition: 0.3s ease;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .login-to-generate-btn:focus{
            filter: brightness(85%);
        }
        .generate-btn:focus{
            filter: brightness(85%);
        }
        .response-div p {
            margin: 0.5rem 0.5rem;
            font-size: 12px;
            font-weight: 800;
        }
        .neuro-choice{                                                      /* Выбор нейросети */
            width: auto;
            height: 400px;
            margin-top: 20px;
            background-color: #152542;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.5rem 0.5rem;
            border: 1px solid #2d3a53;
            border-radius: 10px;        
        }
        .neuro-choice p{
            font-weight: 800;
            font-size: 12px;
            margin-bottom: 10px;
            padding: 0;
        }
        .choice-part{                                                       /* div для списка нейросетей и описания*/
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }   
        .neuro-dropdown{                                                    /* dropdown для выбора нейросети */
            background-color: #2d3a53;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            outline: none;
            width: calc(100% - 10px);
            height: 40px;
            color: #c5c5c5;
            margin: 20px 5px;
        }            
        .neuro-dropdown:focus{
            outline: none;
            border: 1px solid #00E6FF;
            box-shadow: 0 0 7px #00E6FF;
        }
        .description-area{                                                  /* textarea для описания выбранной нейросети */
            background-color: #2d3a53;
            border: 1px solid #c5c5c5;
            box-shadow: 0 0 7px #c5c5c5;
            border-radius: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 80px);
            color: #c5c5c5;
            margin: 20px 5px;
        }
    }
</style>
<div class="background-img">
    <!-- <div class="left-menu">
        <div class="dropdown">
            <a href="#">Модели
                <span class="material-symbols-outlined dropdown-icon">
                    keyboard_arrow_down
                </span>
            </a>
            <ul class="dropdown-list">
                <li>Модель 1</li>
                <li>Модель 2</li>
                <li>Модель 3</li>
            </ul>
        </div>
    </div> -->
    <div class="neuro-part">
        <h1>SwitchAI — переключи реальность</h1>
        <div class="neuro-choice">
            <p>Выбор нейросети</p>
            <div class="choice-part">
                <select class="neuro-dropdown" id="neuro-dropdown" onchange="UpdateTextarea()">
                    <option value="1">Nvidia nemotron-3-super-120b-a12b</option>
                    <option value="2">poolside laguna-xs.2:free</option>
                    <option value="3">Z.ai: GLM 4.5 Air</option>
                </select>
                <textarea disabled class="description-area" id="description-area"></textarea>
            </div>
        </div>
        <div class="request-div">
            <div class="prompt-div">
                <p>Ваш промт</p>
                <textarea class="prompt-area" id="prompt-area" placeholder="Опишите вашу задачу или задайте вопрос"></textarea>
            </div>
            <div class="params-div">
                <p>Параметры</p>
                {% if not current_user.is_authenticated %}
                    <a class="login-to-generate-btn" href="/login">Вход ⚠️</a>
                {% else %}
                    <button class="generate-btn" id="generate-btn">Сгенерировать</button>
                {% endif %}
            </div>
        </div>
        <div class="response-div">
            <p>Сгенерированный текст</p>
            <div class="generated-text">
                <textarea disabled class="generated-text-area" id="genereted-text-area" placeholder="Напиши запрос и здесь появится ответ нейросети"></textarea>
            </div>
        </div>
    </div>
</div>
<script>
    //Обновление описания модели в зависимости от выбранной модели
    UpdateTextarea();
    function UpdateTextarea(){
        const selected_value = document.getElementById('neuro-dropdown').value;
        const textarea = document.getElementById('description-area');
        const neuro_descriptions = [
            "NVIDIA Nemotron 3 Super - это открытая гибридная модель MoE с 120 бай-бай параметрами, активирующая всего 12 БАЙ-бай параметров для максимальной эффективности вычислений и точности в сложных многоагентных приложениях. Построенный на гибридной архитектуре Mamba-Transformer, состоящей из экспертов, с предсказанием нескольких токенов (MTP), он обеспечивает более чем на 50% более высокую генерацию токенов по сравнению с ведущими открытыми моделями.",
            "Laguna XS.2 — это модель второго поколения в классе XS от Poolside(открывается в новой вкладке), из серии эффективных агентов для написания кода. Она сочетает в себе возможности вызова инструментов и логического вывода с компактными размерами, предлагая контекстное окно на 128 КБ и до 8 КБ выходных токенов. Квантованная модель fp8 для быстрых и экономичных рабочих процессов агентного кодирования.Laguna XS.2 предназначен для разработки программного обеспечения и агентского кодирования",
            "GLM-4.5-Air — это облегченная версия нашей новейшей флагманской модели, также специально разработанная для агентно-ориентированных приложений.  Как и GLM-4.5, она основана на архитектуре Mixture-of-Experts (MoE), но имеет более компактный размер параметров.  GLM-4.5-Air также поддерживает гибридные режимы логического вывода: «режим мышления» для сложных рассуждений и использования инструментов и «режим без мышления» для взаимодействия в реальном времени."
        ];
        textarea.textContent = neuro_descriptions[selected_value - 1];
    }
    //Отправление промпта и получение ответа от ии
    const generateBtn = document.getElementById("generate-btn");
    const promptArea = document.getElementById("prompt-area");
    const requestArea = document.getElementById("genereted-text-area");
    const model_list = document.getElementById("neuro-dropdown")
    const neuro_links = [
        "nvidia/nemotron-3-super-120b-a12b:free",
        "poolside/laguna-xs.2:free",
        "z-ai/glm-4.5-air:free",
    ];
    //Обработка клика по кнопке "сгенерировать"
    generateBtn.addEventListener("click", async () => {
        const prompt = promptArea.value;
        const model = neuro_links[model_list.value - 1];
        if (!prompt) return alert("Введите текст");

        //Деактивируем кнопку во время генерации, чтобы избежать повтороной отвправки
        generateBtn.disabled = true;
        requestArea.innerHTML = "Генерирую текст...";

        try{
            //Отправляем запрос на страницу neuro_request на python сервере
            const response = await fetch("http://127.0.0.1:8080/neuro_request", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json' //Говорим серверу, что отправили json
                },
                body: JSON.stringify({ 
                prompt: prompt, 
                model: model 
                })
            });

            const data = await response.json();

            if (data.message) {
                requestArea.innerHTML = data.message;
            }
            else {
                requestArea.innerHTML = "Ошибка: " + (data.error || "Неизвестная ошибка");
            }
        //Если не получилось отправить запрос на сервер
        } catch (error) {
            requestArea.innerHTML = "Ошибка соединения с сервером";
            console.error(error)
        //Возвращаем возможность кликать по кнопке
        } finally {
            generateBtn.disabled = false
        }
    });
    
</script>
{% endblock %}