{% extends "base.html" %}
{% block title %}Подтверждение email | SwitchAI{% endblock %}

{% block description %}Подтвердите ваш email-адрес для активации аккаунта на платформе SwitchAI и получения доступа к генерации текста нейросетями.{% endblock %}

{% block keywords %}подтверждение email, верификация, активация аккаунта, SwitchAI верификация{% endblock %}

{% block og_title %}Подтверждение email на SwitchAI{% endblock %}

{% block og_description %}Завершите регистрацию, подтвердив ваш email-адрес.{% endblock %}ы
{% block content %}
<meta charset="UTF-8">
<style>
    .background-div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80vh;
    }
    .container {
        margin: 0;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #c5c5c5;
        border-radius: 15px;
        box-shadow: 0 0 7px #8f8f8f;
        width: 90%;
        max-width: 450px;
        height: 530px;
    }
    .buttons{
        outline: none;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        font-weight: 800;
        text-decoration: none;
        color: black;
        transition: transform 0.1s ease, filter 0.1s ease;
        -webkit-tap-highlight-color: transparent;
        margin: 20px 0;
        position: relative;
        top: 30px;
        width: 80%;
        max-width: 350px;
        height: 50px;
    }
    .buttons:focus{
        outline: none;
    }
    .buttons:active{
        outline: none;
        transform: scale(0.95);
        filter: brightness(90%);
        transition: transform 0.1s ease-in-out;
    }
    #resend-btn{
        background-color: #00E6FF;
        box-shadow: 0 0 7px #00E6FF;
    }
    #entry-btn{
        box-shadow: 0 0 7px #76ff03;
        background-color: #76ff03;
    }
    .container h2{
        font-weight: 800;
        font-size: 1.5rem;
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
    .container img {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
    }
    .messages {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin: 10px 10px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .messages p{
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }
    .container a{
        color: #8f8f8f;
        position: relative;
        top: 20px;
    }
    #resend-message{
        color: #8f8f8f;
        font-weight: 600;
        margin: 0;
        margin-top: 10px;
    }
    #timer{
        margin: 0;
    }
    @media (hover: hover){
        .buttons:hover{
            text-decoration: none;
            transform: scale(1.05);
            filter: brightness(90%);
            color: black;
            outline: none;
        }
        .container a:hover{
            text-decoration: none;
            color: #626161;
        }
    }
    @media (max-width: 400px){
        .container{
            width: 80vw;
            height: 450px;
        }
        .buttons{
            font-size: 12px;
            width: auto;
            min-width: 150px;
            margin-top: 0;
        }
        .container h2{
            font-size: 1rem;
        }
        .messages{
            width: auto;
        }
        .messages p{
            font-size: 12px;
        }
        #resend-message{
            font-size: 12px;
        }
        #timer{
            font-size: 12px;
        }
        .container img {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 100px;
            height: 100px;
        }
    }
</style>
<div class="background-div">
    <div class="container">
        {% if message == "Ваш email успешно подтвержден!" or message == "Ваш email уже подтвержден" %}
            <img src="/static/img/verified_email.png" alt="Иконка">
            <h2>Электронная почта подтверждена</h2>
            <div class="messages">
                <p>{{message}}</p>
                <p>Вы можете выполнить вход</p>
            </div>
            
            <button class="buttons" id="entry-btn" onclick="location.href='/login'">Вход</button>
            <a href="/">на главную</a>
        {% else %}
            <img src="/static/img/not_verified_email.png" alt="Иконка">
            <h2>Ошибка подтверждения электронной почты</h2>
            <div class="messages">
                <p>Не удалось подтвердить ваш email.</p>
                <p>{{message}}</p>
            </div>
            <button class="buttons" id="resend-btn">Отправить письмо еще раз</button>
            <p id="resend-message"></p>
            <p id="timer"></p>
            <a href="/">на главную</a>
        {% endif %}
    </div>
</div>
<script>
    //Функция-таймер
    function countdown(seconds, onTick, onComplete){
        let remaining = seconds;

        const interval = setInterval(() => {
            if (remaining <= 0){
                clearInterval(interval);
                onComplete?.();
            }
            else {
                remaining--;
            onTick?.(remaining);
            }
        }, 1000)

    }

    //Повторная отправка верификауионного письма по нажатию на кнопку
    document.addEventListener("DOMContentLoaded", function(){
        const resendBtn = document.getElementById("resend-btn");
        const resendMessage = document.getElementById("resend-message");
        const timer = document.getElementById("timer");

        //Подвязываем к кнопке отправить письмо еще раз событие для отправки письма
        if (resendBtn){
            resendBtn.addEventListener("click", function(){
                resendBtn.disabled = true;
                resendBtn.style.opacity = "0.5";
                resendBtn.innerText = "Отправка...";

                const email = "{{email or ''}}";
                
                if (!email){
                    resendMessage.innerText = "Ошибка: email не найден.";
                    resendMessage.style.color = "red";
                    resendBtn.disabled = false;
                    resendBtn.style.opacity = "1";
                    resendBtn.innerText = "Отправить письмо еще раз";
                    return;
                }

                const formData = new FormData();
                formData.append("email", email);

                fetch('/resend_verification', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message){
                        resendMessage.innerText = data.message;
                        resendMessage.style.color = 'green';
                    }
                    else if (data.error){
                        resendMessage.innerText = 'Ошибка:' + data.error;
                        resendMessage.style.color = 'red';
                    }
                    resendBtn.innerText = "Отправлено";
                    //Таймер для повторной отправки
                    countdown(
                        30, 
                        (remaining) => timer.innerText = `Отпраить повторно через ${remaining} сек`,
                        () => {
                            resendBtn.disabled = false;
                            resendBtn.style.opacity = '1';
                            resendBtn.innerText = "Отправить письмо еще раз";
                            timer.innerText = '';
                        }
                    );
                })
                .catch(error => {
                    resendMessage.innerText = "Произошла ошибка при отправке";
                    resendMessage.style.color = "red";
                    resendBtn.disabled = false;
                    resendBtn.opacity = "1";
                    resendBtn.innerText = "Отправить письмо еще раз";
                });
            });
        }
    });
</script>
{% endblock %}